#home_bg {
    background: url(images/machine-macro-background-morgan-wallpaper-preview.jpg);
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#transparent_box {
    padding: 60px;
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ffffff;
}
   
h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
}

.label {
    border: none;
    border-bottom: 0.5px solid #ffffff;
    background-color: transparent;
    outline: none;
    color: #ffffff;
}

.button {
    border: none;
    outline: none;
    color: #ffffff;
    background-color: Tomato;
    width: 100%;
}

.button:hover {
    border: none;
    outline: none;
    color: #ffffff;
    background-color: #cb4f39 ;
}