body{
    background-color: 	#E0FFFF;
    font-family: arial;
}

.result{
    width: 900px;
    background-color: #fff;
    padding: 30px;
}

.result-box{
    padding-bottom: 30px;
    width: 100%;
}

input{
    padding: 0px 20px;
    width: 500px;
    height: 40px;
    font-size: 22px;
}

button{
    padding: 0px 20px;
    width: 200px;
    height:40px;
    font-size: 22px;
}
